*{
    margin: 0;
    font-family: arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-logo{
    height: 50px;
    width: 100px;
}


.border{
    border: 1.5px solid transparent;
}


.border:hover{
    border: 1.5px solid white;
}


.logo{
    background-image: url("amazon-image.webp");
    background-size: cover;
     height: 50px;
     width: 100%;
}

/** box2 **/
.add-first{
       color: #cccccc;
       font-size: 0.85rem;
       margin-left: 20px;
}

.add-sec{
       font-size: 1rem;    
}

.add-icon{
    display: flex;
    align-items: center;
}

/** box3 **/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    background-color: pink;
    height: 40px;
    border-radius: 5px;
}

.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-input{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(241, 5, 143, 0.685);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/** box4 **/
span{
    font-size: 0.75rem;
}

.nav-sec{
    font-size: 0.85;
    font-weight: 700;
}

/* box6 */

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Pannel */
.pannel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}


.pannel-all i{
    font-size: 1.4rem;
}

.pannel-all{
    margin-left: 15px;
    font-weight: 700;
    font-size: 0.85;
}

.pannel-opt p {
    display: inline;
    margin-left: 20px;
    font-size: 14px;
}

.pannel-opt{
    width: 95%;
}

.border2{
    border: 1.5px solid transparent;
}

.border2:hover{
    border: 1.5px solid white;
}

/* hero-section */
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-message{
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 25px;
    width: 90%;

}

.hero-message a {
    color:#2162A1;
    font-size: 0.85rem;
    text-decoration: none;

}

.hero-message a:hover{
    text-decoration: underline;
    color: black;
}

/* shop-section1 */

.main-content{
    width: 1270;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0px;
    background-color: white;
}


.shop-section1{
    background-color: white;
    width: 380px;
    height: 400px;
    margin-top: 30px;
    border-bottom: 30px solid green;
}

h2{
    margin-left: 35px;
    margin-bottom: 15px;
    font-size: 21px;
    margin-top: 20px;
}

.box{
    background-color: white;
    width: 150px;
    height: 100px;
}


.content-section{
    display: flex;
    height: 285px;
    width: 380px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.box1{
    background-image: url("box1_image.jpg");
    background-size: cover;
}    

.box2{
    background-image: url("box2_image.jpg");
    background-size: cover;
}

.box3{
    background-image: url("box3_image.jpg");
    background-size: cover;
}

.box4{
    background-image: url("box4_image.jpg");
    background-size: cover;
}

.box5{
    background-image: url("box5_image.jpg");
    background-size: cover;
}

.box6{
    background-image: url("box6_image.jpg");
    background-size: cover;
}

.box7{
    background-image: url("box7_image.jpg");
    background-size: cover;
}

.box8{
    background-image: url("box8_image.jpg");
    background-size: cover;
}

.box9{
    height: 245px;
    width: 300px;
    background-image: url("box9_image.jpg");
    background-size: cover;
}

.box10{
    background-image: url("box10_image.jpg");
    background-size: cover;
}

.box11{
    background-image: url("box11_image.jpg");
    background-size: cover;
}

.box12{
    background-image: url("box12_image.jpg");
    background-size: cover;
}

.box13{
    background-image: url("box13_image.jpg");
    background-size: cover;
}

.box14{
    background-image: url("box14_image.jpg");
    background-size: cover;
}

.box15{
    background-image: url("box15_image.jpg");
    background-size: cover;
}

.box16{
    background-image: url("box16_image.jpg");
    background-size: cover;
}

.box17{
    background-image: url("box17_image.jpg");
    background-size: cover;
}

.box18{
    background-image: url("box18_image.jpg");
    background-size: cover;
}


.box19{
    background-image: url("box19_image.jpg");
    background-size: cover;
}


.box20{
    background-image: url("box20_image.jpg");
    background-size: cover;
}


.box21{
    background-image: url("box21_image.jpg");
    background-size: cover;
}


.box22{
    height: 245px;
    width: 300px;
    background-image: url("box22_image.jpg");
    background-size: cover;
}


.box23{
    background-image: url("box23_image.jpg");
    background-size: cover;
}

.box24{
    background-image: url("box24_image.jpg");
    background-size: cover;
}

.box25{
    background-image: url("box25_image.jpg");
    background-size: cover;
}

.box26{
    background-image: url("box26_image.jpg");
    background-size: cover;
}


footer{
    font-size: 13px;
    color: #2162A1;
    margin-top: 40px;
    margin-left: 40px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #2162A1
}

/* box2 */
.shop-section2{
    background-color: white;
    width: 380px;
    height: 400px;
    margin-top: 30px;
    border-bottom: 30px solid green;
}    

.shop-section3{
    background-color: white;
    width: 380px;
    height: 400px;
    margin-top: 30px;
    /* border: 2px solid black; */
    border-bottom: 30px solid green;
}    

.shop-section4{
    background-color: white;
    width: 380px;
    height: 400px;
    margin-top: 30px;
    /* border: 2px solid black; */
    border-bottom: 30px solid green;
}   

/* row3 */
.row3{
    background-color: white;
    color: black;
    height: 300px;
    border-bottom: 30px solid green;
}

.for-content{
    margin-left: 10px;
    margin-top: 15px;
    font-size: 21px;
    font-weight: 700;
}

.for-image{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.for-image1{
    background-image: url("image1_row3.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
   
}

.for-image2{
     background-image: url("image2_row3.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
   
}

.for-image3{
     background-image: url("image3_row3.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
    
}

.for-image4{
     background-image: url("image4_row3.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
   
}

.for-image5{
     background-image: url("image5_row3.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
    
}

.for-image6{
     background-image: url("image6_row3.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
}

.row4{
    background-color: white;
    color: black;
    height: 300px;
    border-bottom: 30px solid green;
}

.for-image7{
     background-image: url("image1_row4.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
}


.for-image8{
     background-image: url("image2_row4.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
}


.for-image9{
     background-image: url("image3_row4.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
}


.for-image10{
     background-image: url("image4_row4.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
}


.for-image11{
     background-image: url("image5_row4.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
}


.for-image12{
     background-image: url("image6_row4.jpg");
    background-size: cover;
    height: 200px;
    width: 210px;
}

/* FOOTER */
.back-to-top{
    height: 50px;
    background-color: #48627e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
    font-weight: 700;
}

/* footer panel2 */
.foot-information{
    height: 350px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.2px solid white;
}

ul a{
    color: #dddddd;
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: #dddddd;
}

ul a:hover{
    text-decoration: underline;
}

ul p{
    font-size: 16px;
    margin-top: 40px;
    font-weight: 700;
    margin-bottom: 6px;
}

.first-list{
    margin-left: 200px;
}

.second-list{
    margin-left: 25px;
}

.third-list{
    margin-right: 25px;
}

.fourth-list{
    margin-right: 200px;
}

/* LOGO */

.second-last-foot{
    height: 68px;
    background-color: #222f3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logooo{
    height: 60px;
    width: 120px;
    background-image: url("Amazon-Symbol.jpg");
    background-size: cover;
}

/* last footer */
.last-pannel{
    height: 70px;
    background-color: #0f1111;
    text-align: center;
    padding-top: 20px;   
}

.foot-copyright a{
    font-size: 12px;
    color: #dddddd;
    padding-right: 5px;
}

.foot-copyright a:hover{
    text-decoration: underline;
}

.copyright{
    color: #dddddd;
    font-size: 12px;
    padding-top: 5px;
}